/* .btn-social{
    border-radius: 100px;
}

#botones{
    display:flex;
    justify-content: center;
}

.contenido section{
    margin-top: 50px;
}

.fondodos {
    background: url('./Img/inicio.jpg')100% no-repeat fixed;
    padding: 60px;
}

.margen{
    margin-top: 100px;
}

#mo1 {
    width: 90%;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
} 

form{
    width: 650px;
}

.btnColor{
    background-color:#EA6A16;
    color: white;
}

.color{
    color: #EA6A16
}

.textoInicio{
    margin-top: 150px;
}

.icono{
    font-size: 45px;
}
.centrar{
    padding-left: 20px;
}

.colorIconos{
    color: #EA6A16;
}

.adColor{
    color: #000000; 
} */


/* body {

    background: #000000;  
    background: -webkit-linear-gradient(to right, #434343, #000000);  
    background: linear-gradient(to right, #434343, #000000); 
    

}

.bg {
    background-image: url(house.jpg);
    background-position: center center;

}

.container{
    width: 75%;
    margin-top: 5%;
}



.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #DC7633;
    border: #DC7633;
} */











/* -------------------------------------------------------GENERAL---------------------------------------------------------------*/

.btnColor{
    background-color:#EA6A16;
    color: white;
}

/*FIN GENERAL*/



/*-----------------------------------------------------INDEX---------------------------------------------------------------------*/
.fondodos {
    background: url('./Img/inicio.jpg')100% no-repeat fixed;
    padding: 60px;
}



.color{
    color: #EA6A16
}


.textoInicio{
    margin-top: 150px;
}

/*------------------------------------------------------FIN INDEX--------------------------------------------------------------*/



/*-----------------------------------------------------AGREGAR CASAS------------------------------------------------------------*/

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.formAgregCasa{
    width: 650px;
}

.formeEdidCasa{
    width: 650px;
}

/* --------------------------------------------------FIN AGREGAR CASAS------------------------------------------------------------*/

/*-------------------------------------------------------EDITAR CASAS-------------------------------------------------------------*/


.formEditCasa{
    width: 650px;
}

/* ----------------------------------------------------FIN EDITAR CASAS---------------------------------------------------------*/

/*----------------------------------------------------AGREGAR Y EDITAR CASAS---------------------------------------------------*/

 .btn-social{
    border-radius: 100px;
} 

#botones{
    display:flex;
    justify-content: center;
}

/*----------------------------------------------------FIN AGREGAR Y EDITAR CASAS-----------------------------------------------*/


/*----------------------------------------------------- --INFORMACIÓN CASAS----------------------------------------------------*/

.icono{
    font-size: 45px;
}
.centrar{
    padding-left: 20px;
}

.colorIconos{
    color: #EA6A16;
}

/*-----------------------------------------------------------FIN INFORMACIÓN CASAS-------------------------------------------*/


/*--------------------------------------------------------------- CONTACTO ---------------------------------------------------*/

.contenidoContacto {

    margin-top: 4%;
    margin-bottom: 7%;
    margin-left: 5%;
    margin-right: 5%;

}

.titulo h3{
    margin-top: 5%;
    margin-left: 5%;
    font-weight: 600;
}

h4{
    font-weight: 600;
}


textarea{
    height: 150px;
}

.col-sm-12 div{
    padding-bottom: 3%;
}

p {
    text-align: justify;
}

/*-----------------------------------------------------------------FIN CONTACTO------------------------------------------------- */

/* ---------------------------------------------login-------------------------------------- */
.login {

    background: #000000;  
    background: -webkit-linear-gradient(to right, #434343, #000000);  
    background: linear-gradient(to right, #434343, #000000); 
    

}

.bg {
    background-image: url(./Img/house.jpg);
    background-position: center center;

}

.containerL{
    width: 75%;
    margin-top: 5%;
}



.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #DC7633;
    border: #DC7633;
}